@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #25273a;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}
